# Hope you have a little giggle, ☀️Sunshine ☀️


import random

Question = input('❓ Question: Will I...')

Magic_8_Ball = random.randint(1, 9)

vibe = random.randint(1, 9)


# The if/elif/else statement starts here


if Magic_8_Ball == 8 :
  print("🔮 Your fate says:It is *decidedly* so, darling. Go slay 💅")

elif Magic_8_Ball == 1 :
  print("🔮 Your fate says:🙅‍♀️ Very doubtful, but hey—manifest harder.")

elif Magic_8_Ball == 2 :
   print("🔮 Your fate says:☁️ Outlook not so good. Cry it out, glam it up.")

elif Magic_8_Ball == 3 :
  print("🔮 Your fate says:✨ Yes—definitely. The stars are simping for you.")

elif Magic_8_Ball == 4 :
  print("🔮 Your fate says:🚫 Nope. Not even with glitter.")

elif Magic_8_Ball == 5 :
  print("🔮 Your fate says:🤐 Hmm… better not tell you now, sweetness.")

elif Magic_8_Ball == 6 :
  print("🔮 Your fate says:😭 Boohoo! Grab a snack and deal.")

elif Magic_8_Ball == 7 :
  print("🔮 Your fate says:⏳ Ask again later. I’m doing my nails.")

elif Magic_8_Ball == 9 :
  print("🔮 Your fate says:🔐 My lips are sealed... for now.”)
